.seatBtn {
    margin-right: 1px;
    margin-left: 1px;
    width: 12px;
    height: 10px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.seatNotSupported {
    background-color: red;
    pointer-events: none;
}

.seatFree {
    cursor:pointer;
}

.seatChosen {
    pointer-events: none;
}

.seatNotAvailable {
    pointer-events: none;
}


.SeatRows {
    margin-left: 22%;
}
