
.seatNotSupported {
    background-color: red;
    pointer-events: none;
}

.seatFree {
    cursor:pointer;
}

.seatChosen {
    pointer-events: none;
}

.seatNotAvailable {
    pointer-events: none;
}


